.layout{
  display: grid;
  grid-template-columns: 250px 1fr; /* Sidebar fija, contenido flexible */
  min-height: 100vh;
}
/* ==== Sidebar ==== */


/* ==== Contenido principal ==== */
.content-area {
display: flex;
justify-content: center;
align-items: center;
    padding: 2rem;
    background-color: var(--color-bg);
    overflow-y: auto;
}

.spinner {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    color: black;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
.hidden{
  display: none;
}
